@import 'https://fonts.googleapis.com/css?family=Open+Sans:700|Raleway:400,700';
body {
    font: normal 14px/1.5 'Raleway', sans-serif;
    min-width: 1170px;
    margin: 0;
    padding: 0;
}

*,
:after,
:before {
    box-sizing: border-box;
}

a {
    transition: all .3s ease;
    text-decoration: none;
}

h3 {
    font: bold 14px/1 'Raleway';
    margin: 0 0 20px 0;
    text-transform: uppercase;
}

.clearfix:after,
.wrapper:after,
.works:after {
    display: table;
    clear: both;
    content: '';
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
}

.horizontal-menu {
    padding-top: 40px;
}

.horizontal-menu a {
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
    float: right;
    margin-left: 60px;
    text-transform: uppercase;
    opacity: .75;
    color: #fff;
}

.horizontal-menu a:hover {
    opacity: 1;
}

.horizontal-menu a:last-child {
    margin-left: 0;
}

.masterhead {
    width: 100%;
    margin-bottom: 96px;
    background: #313454 url('../image/top-bg.png');
}

.masterhead .top-menu {
    height: 100px;
    border-bottom: 1px solid #4b4d63;
}

.masterhead .top-menu .logo {
    float: left;
    padding-top: 40px;
}

.masterhead .tagline {
    padding: 0 128px;
    text-align: center;
}

.masterhead .tagline h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    line-height: 71px;
    margin-top: 140px;
    margin-bottom: 24px;
    text-transform: uppercase;
    color: #fff;
}

.masterhead .tagline h1 + p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 72px;
    color: #fff;
}

.masterhead .tagline .button {
    font-weight: 300;
    line-height: 46px;
    display: inline-block;
    width: 200px;
    height: 46px;
    margin-bottom: 160px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    border-radius: 3px;
    background-color: #e84545;
}

.masterhead .tagline .button:hover {
    background-color: #de1c1c;
}

.features,
.works {
    width: 100%;
}

.features .feature,
.works .feature {
    float: left;
    width: 33.33333%;
    margin-bottom: 8px;
    padding: 25px 45px;
    text-align: center;
    color: #313454;
}

.features .feature img,
.works .feature img {
    margin-bottom: 26px;
}

.features .feature p,
.works .feature p {
    color: #6c7279;
}

.features .icon,
.works .icon {
    display: inline-block;
    height: 60px;
    margin-bottom: 26px;
    background-image: url('../image/icons-sprite.png');
    background-repeat: no-repeat;
}

.features .icon-customize,
.works .icon-customize {
    width: 60px;
    background-position: 0 -60px;
}

.features .icon-responsive,
.works .icon-responsive {
    width: 73px;
    background-position: 0 -300px;
}

.features .icon-moderndesign,
.works .icon-moderndesign {
    width: 41px;
    background-position: 0 -180px;
}

.features .icon-cleancode,
.works .icon-cleancode {
    width: 56px;
    background-position: 0 0;
}

.features .icon-readytoship,
.works .icon-readytoship {
    width: 72px;
    background-position: 0 -240px;
}

.features .icon-download,
.works .icon-download {
    width: 79px;
    background-position: 0 -120px;
}

.works {
    margin-top: 74px;
}

.works .work {
    float: left;
    width: 25%;
    padding-right: 1px;
    padding-bottom: 1px;
    text-align: center;
}

.works .work a {
    cursor: pointer;
}

.works .work a figure {
    position: relative;
    margin: 0;
}

.works .work a figure img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

.works .work a figure figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 30%;
    transition: all .3s ease;
    text-align: center;
    opacity: 0;
    color: #fff;
    background-color: rgba(232, 69, 69, .9);
    backface-visibility: hidden;
}

.works .work a figure figcaption h3 {
    margin-bottom: 8px;
}

.works .work a figure figcaption p {
    margin: 0;
}

.works .work a:hover figure figcaption {
    opacity: 1;
}


    .download {
        margin-top: 100px;
    }

    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .container:before{
        display: table;
        content: " ";
    }

    .container:after{
        display: table;
        content: " ";
        clear:both;
    }

    .text-center{
        text-align: center;
    }

    .col-md-8 {
        width: 50%;
        padding-right: 15px;
        padding-left: 15px;
        margin: 0 auto;
    }

    .download h3 {
        margin-top: 0;
        font-size: 28px;
        color: #2d3033;
        font-weight: 300;
        margin-bottom: 10px;
        font-family: inherit;
        line-height: 1.1;
    }

    .download p {
        color: #2d3033;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 22.4px;
        margin: 0 0 10px;
    }

    .download #btn {
        margin-top: 30px;
        padding: 15px 40px;
        background-color: #e84545;
        color: #fff;
        font-size: 13px;
        font-weight: 600;
        border: 0;
        border-radius: 2px;
        display: inline-block;
        text-transform: uppercase;
    }

.social-icons a {
    font-size: 18px;
    line-height: 2.1;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 3px;
    cursor: pointer;
    text-align: center;
    color: #c6cacc;
    border: 1px solid #e8ecee;
}

.social-icons a:hover {
    color: #fff;
    border-color: #fff;
}


.social-icons a.fb-icon:hover {
    background-color: #3a5a98;
}

.social-icons a.tw-icon:hover {
    background-color: #55acee;
}

.social-icons a.ln-icon:hover {
    background-color: #0077b5;
}

.social-icons a:first-child {
    margin-left: 0;
}

.social-icons a:last-child {
    margin-right: 0;
}

.team {
    width: 100%;
    margin-top: 100px;
}

.team .wrap {
    margin: 0 -15px;
}

.team .staff {
    float: left;
    width: 25%;
    padding: 0 15px;
    text-align: center;
    text-align: left;
}

.team .staff span {
    display: block;
}

.team .staff img {
    display: block;
    width: 100%;
    height: auto;
}

.team .staff .name {
    font: normal 22px 'Raleway';
    margin-top: 26px;
    color: #2d3033;
}

.team .staff .position {
    font-size: 13px;
    margin-top: 8px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #e84545;
}

.team .staff p {
    margin: 0;
    color: #6c7279;
}

.team .staff .social-icons {
    margin-top: 25px;
}

footer {
    margin-top: 130px;
    padding-top: 70px;
    background-color: #3a3e64;
}

footer .location,
footer .share,
footer .about {
    float: left;
    width: 33.33333%;
    text-align: center;
}

footer .location p {
    padding: 0 110px;
}

footer h3 {
    color: white;
}

footer p {
    padding: 0 10px;
    color: #9d9fb2;
}

footer .social-icons a {
    color: #fff;
    border: 2px solid #fff;
}

footer .bottom-line {
    width: 100%;
    margin-top: 70px;
    padding: 25px 0;
    background-color: #313454;
}

footer .bottom-line .copyright {
    text-align: center;
}

footer .bottom-line .copyright span {
    color: #808080;
}

footer .bottom-line .copyright span:first-child {
    display: block;
}

footer .bottom-line .copyright .autor {
    display: inline-block;
    margin-left: 3px;
    color: #fff;
}

footer .bottom-line .copyright .autor:before {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    content: '';
    vertical-align: middle;
    background: transparent url('../image/heart.svg') 50% 50% no-repeat;
    background-size: cover;
}
